{% extends "base_generic.html" %}

{% block title %}
<title>Delete</title>
{% endblock %}

{% block content %}
<h1>Delete of {{ object.test_number }}</h1>
<form method="post">{% csrf_token %}



    <p>Are you sure you want to delete "{{ object.test_number }}"?</p>



    <input type="submit" value="Confirm">
</form>
{% endblock %}

<!--DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>delete</title>
</head>
<body>
<form method="post">{% csrf_token %}



    <p>Are you sure you want to delete "{{ object.test_number }}"?</p>



    <input type="submit" value="Confirm">
</form>
</body>
</html-->